/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Algemeen */
:root{
  --pandora-pink:#ffcad4;
  --pandora-grey:#d0d1d2;
}

body {
  font-family: stolzl, sans-serif;
  font-size: 0.8em;
}

button {
  font-family: stolzl, sans-serif;
}

/* Font vanuit Adobe:
Stolzl Regular
font-family: stolzl, sans-serif;
font-weight: 400;
font-style: normal;

Stolzl Bold
font-family: stolzl, sans-serif;
font-weight: 700;
font-style: normal; */

hr {
  width: 100%;
  border-top: 5px solid var(--pandora-pink);
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
}

header div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

header div a {
  padding: 1em 0em;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
}

header nav li {
  list-style-type: none;
  flex-grow: 1;
}

header nav li a {
  display: block;
  text-align: center;
}

header nav img {
  max-height: 3em;
}

header nav li:nth-of-type(3) img {
  max-height: 5em;
  margin: 0 3em;
}

/* Main */

/* section 1 */
main section:first-of-type img {
  height: 12em;
  width: 150%;
  object-fit: cover;
}

section:first-of-type button {
  background-color: black;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* section 2 */
main section:nth-of-type(2) img {
  height: 30em;
  width: 120%;
  object-fit: cover;
}

main section:nth-of-type(2) div h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  position: absolute;
  top: 70%;
  left: 5%;
  right: 15%;
  color: white;
}

main section:nth-of-type(2) div h3 {
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  left: 5%;
  color: white;
}

/* section 2 */
section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

section:nth-of-type(3) h2 {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

section:nth-of-type(3) a {
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
  padding: 0.5em;
}

section:nth-of-type(3) article {
  border: 0.1em solid var(--pandora-grey);
  text-align: center;
  width: 100%;

}

section:nth-of-type(3) article img {
  height: 6em;
  width: 100%;
  padding: 0 1em;
  object-fit: scale-down;
}

section:nth-of-type(3) article h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  padding: 1em 0em;
}